target/
FIT_data/
target/
test/
Sandbox/
.idea/
result/
RFile/
shFile/
shFile/utils/
RFiles/
pythonFile/
sotsuken/
bin/
.DS_Store
.Rhistory
.RData
.Rprofile
RealEstimation.ipynb
.ipynb_checkpoints/
.settings/
*.ipynb
experiment_condition
src/analysis/
docs/hikitsugi.md
docs/references/
docs/tekitou_memo.txt

[core]
    excludesfile = /Users/tara/.gitignore_global
